body {
  margin: 0;
  font-family: Optima, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}
code {
  font-family: Optima, sans-serif;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex: 0 1 23%;
  box-sizing: border-box;
  margin: 1rem .25em;
  background-color: white;
  text-align: left;
  border-radius: 10px;
  border: 6px solid #D26901;
  padding: 10px 10px;
  color: rgb(2, 38, 21);
  object-fit: cover;
  height: 100%;
}

.button {
  background-color: white;
  border: 2px solid #191970;
  margin: 1rem .25em;
  color: #191970;
  border-radius: 10px;
  padding: 6px 24px;
  font-size: 16px;
  font-weight: bold;
}
.error {
  color: white;
  background-color:  #D26901;
}
.float {
  float: left;
  padding: 0 10px 0px 0px;
  height: 380px;
}
