<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi, <%= @user.name %>!</h1>
        <p>Your dog, <%= @dog.name %> could use a check-in!</p>
        <br>
        <p>To sign in and take care of your dogs, visit <a href="https://dog-gif-app.onrender.com/" /></p>
    </body>
    </html>